@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ece7e1;
  color: #333;
}

.experience-education-section {
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
}

.section-title::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  background: #0ed0d6;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #fbf1f1;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
}

.card h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #6a4706;
  font-weight: 500;
}

.card ul {
  list-style: none;
  padding-left: 0;
}

.card li {
  margin-bottom: 15px;
}

.card h4 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 5px;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card p {
  font-size: 1rem;
  color: #666;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Scroll Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card.animate {
  opacity: 1;
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.experience-card.animate {
  animation: slideInFromLeft 1.5s ease-in-out;
}

.education-card.animate {
  animation: slideInFromRight 1.5s ease-in-out;
}
